//compress: false , out : ../../dist/cart.css

@background-color: linear-gradient(
    to right,
    rgb(101, 197, 92),
    rgb(238, 155, 0)
);
@topmargin: 5px;

* {
    margin: 0;
    padding: 0;
}

body {
    background: @background-color;
}

.container {
    margin: 0 auto;
    border: 3px solid rgb(13, 19, 3);
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 300px;
}

.item_container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 300px;
}

.item_image {
  width: 300px;
}

h4 {
    display: flex;
    justify-content: center;
}
