* {
  margin: 0;
  padding: 0;
}

#img {
  margin-top: 10px;
}

#desc {
    height: 100px;
}

#mainForm {
  display: flex;
    flex-direction: column;
  border: 2px;
  width: 200px;
  position: relative;
  margin-left: 20px;
}
