<form id="mainForm">
  <head>
    <link rel="stylesheet" href="../styles/form.css" />
  </head>
  <form action="">
    <label for="name"></label>Name<br />
    <input type="text" id="name"/> <br />
    <label for="description">Description</label> <br />
    <input type="text" id="desc"/>
  </form>
    <label for="Category">Category</label>
    <select id="Category">
      <option value="SmartPhones">SmartPhones</option>
      <option value="Notebooks">Notebooks</option>
      <option value="Watches">Watches</option>
      <option value="TV">TV</option>
    </select>
  </form>
</form>